html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 900px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

@media (min-width: 500px){
	.intro {
		transform: translateY(25vh);
	}
}

@media (max-width: 500px){
	.intro {
		transform: translateY(12.5vh);
	}
}

.intro > h1 {
    color: #212121;
    font-size: 10vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 25vh;
    height: 25vh;
    border-radius: 20px;
	float: left;
	margin-top: 15px;
}

/*About Me page*/
@media (min-width: 500px){
	img[alt$="<"] {
		float: left;
		max-width: 300px;
		border-radius: 20px;
		width: 100%;
		margin-top: 5px;
		margin-right: 20px;
	}
}

@media (max-width: 500px){
	img[alt$="<"] {
		width: 100%;
		border-radius: 20px;
	}
}


/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}
